@model  Cosmopolitan.Models.Quotation
@{

    ViewData["Title"] = "Cotizador";

}

<div class="panel panel-primary">
    <div class="panel-heading text-center">Cotización de Préstamo Hipotecario</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.Fecha, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Fecha, new { @class = "form-control", @disabled = "true" })
                </div>
            </div>

            <p class="bg-primary text-center">Cálculo</p>
            <div class="form-group">
                @Html.LabelFor(m => m.PrecioDeVenta, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(m => m.PrecioDeVenta, new { @class = "form-control", @data_bind = "value: PrecioDeVenta, event: { onchange: calcular }" })
                    </div>
                </div>
            </div>           
            <div class="form-group">
                @Html.LabelFor(m => m.Financiamiento, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">%</div>
                        @Html.TextBoxFor(m => m.Financiamiento, new { @class = "form-control", @data_bind = "value: Financiamiento; textInput: calcular" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AbonoInicialCalculado, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(m => m.AbonoInicialCalculado, new { @class = "form-control", @disabled = "disabled",
                       @data_bind = "value: AbonoInicialCalculado; textInput: calcular"
                   })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AbonoInicialIngresado, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(m => m.AbonoInicialIngresado, new { @class = "form-control", @data_bind = "value: AbonoInicialIngresado; textInput: calcular" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MontoAFinanciar, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(m => m.MontoAFinanciar, new { @class = "form-control", @disabled = "disabled", @data_bind = "value: MontoAFinanciar" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TaseDeInteres, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">%</div>
                        @Html.TextBoxFor(m => m.TaseDeInteres, new { @class = "form-control", @data_bind = "text: TaseDeInteres" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TaseDeInteresDinero, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(m => m.TaseDeInteresDinero, new { @class = "form-control", @data_bind = "text: TaseDeInteresDinero" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Plazo, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">Años</div>
                        @Html.TextBoxFor(m => m.Plazo, new { @class = "form-control", @data_bind = "text: Plazo" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Capital, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(m => m.Capital, new { @class = "form-control", @disabled = "disabled", @data_bind = "text: Capital" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CapitalFeci, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(m => m.CapitalFeci, new { @class = "form-control", @disabled = "disabled", @data_bind = "text: CapitalFeci" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MensualidadConFeci, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(m => m.MensualidadConFeci, new { @class = "form-control", @disabled = "disabled", @data_bind = "text: MensualidadConFeci" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Mensualidad, new { @class = "col-sm-3 control-label" })
                <div class="form-inline col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        @Html.TextBoxFor(m => m.Mensualidad, new { @class = "form-control", @disabled = "disabled", @data_bind = "text: Mensualidad" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3">
                    <input type="button" class = "btn btn-primary"  value="Calcular" />
                </div>
            </div>
        </div>
    </div>
</div>