@model  Cosmopolitan.Models.Quotation
@{
    
    ViewData["Title"] = "Cotizador";

}

<div class="panel panel-primary">
    <div class="panel-heading text-center">Cotización de Préstamo Hipotecario</div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(m=> m.Fecha)
            @Html.TextBoxFor(m=> m.Fecha,  new { @class="form-control", @disabled="true"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Programa)
            @Html.DropDownListFor(m => m.Programa.Name, 
                Model.Programa != null ? Model.Programa.Collection ?? new List<SelectListItem>() : new List<SelectListItem>(), 
                new { @class = "form-control" })
        </div>
        <p class="bg-primary text-center">Datos de la Propiedad</p>

        <div class="form-group">
            @Html.LabelFor(m => m.f)
            @Html.DropDownListFor(m => m.Programa.Name,
                Model.Programa != null ? Model.Programa.Collection ?? new List<SelectListItem>() : new List<SelectListItem>(),
                new { @class = "form-control" })
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>
    </div>
</div>